<nav class="nav bg-dark d-flex ">
	<h3 class="text-light"><a class="nav-link" routerLink="/">Flopbox</a></h3>
	<a class="nav-link" routerLink="/flops">
		<h4 class="red">flops</h4>
	</a>
	<div style="display: inline-flex; margin-top: 6px">
		<input (change)="setStarFilter($event)" type="number" max="5" class="form-control" placeholder="Filter stars">
		<a class="btn btn-info" style="display:inline-table" routerLink="/flops"
			[queryParams]="{starsMax:starsVal}">Go</a>
	</div>
</nav>



<router-outlet>
</router-outlet>